.fs-4 {
  font-weight: 400;
}

.btn-details {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn-details:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.card-title {
  text-align: center;
}

.card-href {
  color: #000000;
  text-decoration: none;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,td {
  padding: 5px;
  border: 1px solid black;
}

td {
  text-align: left;
}